	body{
		font-family: "Courier";
		font-size: 25px;
		color: lime;
		background:black;
		overflow:hidden;
	}
	.monitor{
	  background-color: black;
	  border: 10px solid grey;
	  border-radius: 20px;
	  padding: 25px;
	  margin-top: 10%;
	  min-height: 300px
	}
	.typewriter{
	  color: lime; 
	  font-family: "Courier";
	  font-size: 40px;
	  display:inline;
	  
	}
	.blinky{
		animation: blink 1s infinite;
		font-size: 40px;
		color: lime;
		display:inline;

	}
	@keyframes blink{
		to{opacity: .0;}
	}
	@keyframes type{
		from { width: 0; }
	}
	.scroll-right {
	 height: 50px;	
	 overflow: hidden;
	 position: relative;
	 border: 0px solid orange;
	}
	.scroll-right2 p {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 line-height: 50px;
	 text-align: center;
	 /* Starting position */
	 -moz-transform:translateX(-100%);
	 -webkit-transform:translateX(-100%);	
	 transform:translateX(-100%);
	 /* Apply animation to this element */	
	 -moz-animation: scroll-right 15s linear infinite;
	 -webkit-animation: scroll-right 15s linear infinite;
	 animation: scroll-right 15s linear infinite;
	}
	/* Move it (define the animation) */
	@-moz-keyframes scroll-right {
	 0%   { -moz-transform: translateX(-100%); }
	 100% { -moz-transform: translateX(100%); }
	}
	@-webkit-keyframes scroll-right {
	 0%   { -webkit-transform: translateX(-100%); }
	 100% { -webkit-transform: translateX(100%); }
	}
	@keyframes scroll-right {
	 0%   { 
	 -moz-transform: translateX(-100%); /* Browser bug fix */
	 -webkit-transform: translateX(-100%); /* Browser bug fix */
	 transform: translateX(-100%); 		
	 }
	 100% { 
	 -moz-transform: translateX(100%); /* Browser bug fix */
	 -webkit-transform: translateX(100%); /* Browser bug fix */
	 transform: translateX(100%); 
	 }
	}
	.jumbotron{
		background: black;
		border: 1px solid lime;
		overflow: hidden;
	}
	.progress-bar{
	  background-color: lime;
	  color:black;
	}
	.doris{
	   color: lime;
		position: relative;
		top: 500px;
	}
	.rooms {
		width: 135px;
		height: 90px;
		border-radius: 20px;
		border: 3px solid lime; 
		background: black; 
		display: inline-block;
		padding-top: 7px;
	}
	.scrollingText {
		border-radius: 20px;
		display: inline-block;
		padding-top: 7px;
		position: relative;
		left: -750px;
		
	}
	.buttons{
		position: relative;
		top: 500px;
		
	}
	#roomA{
		position: absolute;
		right: 670px;
	}
	#roomB{
		position: absolute;
		right: 525px;
	}
	#roomC{
		position: absolute;
		right: 380px;
	}
	#roomD{
		position: absolute;
		right: 235px;
	}
	#roomE{
		position: absolute;
		right: 90px;
	}
	#roomF{
		position: absolute;
		top: 100px;
		right: 90px;
	}
	#roomP{
		position: absolute;
		top: 100px;
		right: 670px;
	}
	#roomG{
		position: absolute;
		top: 200px;
		right: 90px;
	}
	#roomO{
		position: absolute;
		top: 200px;
		right: 670px;
	}
	#roomN{
		position: absolute;
		top: 300px;
		right: 670px;
	}
	#roomH{
		position: absolute;
		top: 300px;
		right: 90px;
	}
	#roomM{
		position: absolute;
		top: 400px;
		right: 670px;
		
	}
	#roomL{
		position: absolute;
		top: 400px;
		right: 525px;
	}
	#roomK{
		position: absolute;
		top: 400px;
		right: 380px;
	}
	#roomJ{
		position: absolute;
		top: 400px;
		right: 235px;
	}
	#roomI{
		position: absolute;
		top: 400px;
		right: 90px;
		z-index: -1;
	}
	#globe{
		padding-top: 25px;
		width: 70px;
		
	}

	



