	body{
		font-family: "Courier";
		font-size: 25px;
		background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Texture-Tasty-Grey-Seamless-Pattern-For-Website-Background.jpg");
		overflow: scroll;
		margin: 0;
	}
	.modal-content{
		background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Texture-Tasty-Grey-Seamless-Pattern-For-Website-Background.jpg");
	}
	.modal-RPS{
		background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Texture-Tasty-Grey-Seamless-Pattern-For-Website-Background.jpg");
		
	}
	#RPSGameSpace{
		display:none;
	}
	.items{
		width: 80%;
		cursor:pointer;
		border-radius: none;
		border: none;
		padding: 5px;
		margin: 8px;
		background: rgb(220,220,220);
	}
	.itemWell{
		
		margin-top:20px;
		border: 1px solid rgb(220,220,220);
	}
	.ConocoPhillips{
		Color: rgb(222,35,38);

	}
	.logo{
		width: 40%;
		height: 40%;
		margin-bottom: -2%;

	}
	.jumbotron{
		border: 1px solid rgb(220,220,220);
		margin-top:20px;
		background: rgb(245,245,245);
		color: black;
		
	}
	.conoco{
		padding: 12px;
	}
	.container-fluid{
		width: 95%;
		height: 80%;
		
	}
	.largeItems{
		width: 300px;
		height: 300px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		margin: 8px;
		background: rgb(220,220,220);
	}
	.itemText{
		margin: 2px;
	}
	.monitor{
	  background-color: black;
	  border: 10px solid grey;
	  border-radius: 20px;
	  padding: 25px;
	  min-height: 300px
	  
	}
	.mono2{
	  color: lime; 
	  font-family: "Courier";
	  font-size: 17px;
	  width: 30em;
      white-space:nowrap;
      overflow:hidden;
      animation: type 5s steps(100, end) 1;
	}
	
	.typewriter{
	  color: lime; 
	  font-family: "Courier";
	  font-size: 17px;
	  display:inline;
	  
	}
	.blinky{
		animation: blink 1s infinite;
		color: lime;
		display:inline;

	}
	@keyframes blink{
		to{opacity: .0;}
	}
	@keyframes type{
		from { width: 0; }
	}
	.rooms {
		width: 135px;
		height: 90px;
		border-radius: 20px;
		border: 3px solid lime; 
		background: black; 
		display: inline-block; 
	}
	#WHeader{
		display:inline;
		
	}
  	#imageContainer img {
  		width: 90%;
  		margin-left: 5%;
  		position: absolute;
  		top: 0;
  		z-index: 100;
  	}

  	#baseImage {
  		z-index: 10;
  	}