	body{
		font-family: "Courier";
		font-size: 25px;
	}
	.items{
		width: 100px;
		height: 100px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		margin: 8px;
	}
	.itemWell{
		width: 130px;
		margin-top:20px;

	}
	.container-fluid{
		width: 80%;
		height: 80%;
		
	}
	.largeItems{
		width: 300px;
		height: 300px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		margin: 8px;
	}
	.itemText{
		margin: 2px;
	}
	.monitor{
	  background-color: black;
	  border: 10px solid grey;
	  border-radius: 20px;
	  padding: 25px;
	  height: 100%;
	  
	}
	.mono2{
	  color: lime; 
	  font-family: "Courier";
	  font-size: 17px;
	  width: 30em;
      white-space:nowrap;
      overflow:hidden;
      animation: type 5s steps(100, end) 1;
	}
	
	.typewriter{
	  color: lime; 
	  font-family: "Courier";
	  font-size: 17px;
	  display:inline;
	  
	}
	.blinky{
		animation: blink 1s infinite;
		color: lime;
		display:inline;

	}
	@keyframes blink{
		to{opacity: .0;}
	}
	@keyframes type{
		from { width: 0; }
	}